<div id="about">
    <div id="wrapper">
        <div id="brand">SeedSyncarr</div>
        <div id="version">v{{version}}</div>

        <div id="description">
            A tool to sync files from a remote Linux server (like your seedbox) using
            <a target="_blank" href="http://lftp.tech/">LFTP</a> for fast transfers.
        </div>

        <div class="info-section">
            <div class="section-title">Features</div>
            <ul>
                <li>Built on LFTP, the fastest file transfer program</li>
                <li>Web UI - track and control transfers from anywhere</li>
                <li>Automatically extract files after sync</li>
                <li>Auto-Queue based on pattern matching</li>
                <li>Delete local and remote files easily</li>
            </ul>
        </div>

        <div class="info-section">
            <div class="section-title">Supported Platforms</div>
            <ul>
                <li>Linux (amd64 and arm64)</li>
                <li>Raspberry Pi (v2, v3, v4, v5)</li>
                <li>Windows (via Docker)</li>
                <li>macOS (via Docker)</li>
            </ul>
        </div>

        <div id="links">
            <a target="_blank" href="https://thejuran.github.io/seedsyncarr/">Documentation</a>
            <span class="separator">|</span>
            <a target="_blank" href="https://github.com/thejuran/seedsyncarr">GitHub</a>
            <span class="separator">|</span>
            <a target="_blank" href="https://github.com/thejuran/seedsyncarr/issues">Report an Issue</a>
        </div>

        <div id="license">
            <a target="_blank" href="https://github.com/thejuran/seedsyncarr/blob/main/LICENSE.txt">Apache License 2.0</a>
        </div>

        <div id="copyright">Copyright © 2017-2026 Inderpreet Singh, thejuran</div>

        <div id="fork-note">
            Based on the original
            <a target="_blank" href="https://github.com/ipsingh06/seedsync">SeedSync</a>
            by Inderpreet Singh
        </div>
    </div>
</div>
